{% extends "home.html" %}

{% block content %}

    {% for group in groups %}
    <div class="col-md-4">
      <div class="card mb-4 shadow-sm">
        <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{url_for('static', filename='defaultImage.jpg')}}" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"></img>
        <div class="card-body">
          <p class="card-text">{{ group_name }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a type="button" href="{{ url_for('editgroup') }}" class="btn btn-sm btn-outline-secondary">View Group</a>
            </div>
            <small class="text-muted">{{ group.description }}</small>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    <!---changed from class to id so it sits on page nicely--> 
      <div class="row mb-4">
        <div class="col text-center">
          <a href="#" class="btn btn-lg btn-warning" data-toggle="modal" data-target="#createGroupModal">Create Group</a>
        </div>
      </div>
    
    <div class="modal fade" id="createGroupModal" tabindex="-1" role="dialog" aria-labelledby="createGroupModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Create Group</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <form class= "createGroup" method="POST" action="">
              {{ creategroup_form.hidden_tag() }}
              <div class = "form-group">
                  {{ creategroup_form.group_name.label(class="form-control-label") }}
                  {{ creategroup_form.group_name(class="form-control form-control-lg") }}
              </div>
              <div class = "form-group">
                  {{ creategroup_form.group_desc.label(class="form-control-label") }}
                  {{ creategroup_form.group_desc(class="form-control form-control-lg") }}
              </div>
          </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      {{creategroup_form.submit(class="btn btn-primary")}}
              </div>
          </form>
        </div>
      </div>
   </div>
    {% endblock content %}